-i https://pypi.org/simple
absl-py
astunparse
cachetools
certifi
charset-normalizer
cycler
dill
etils[epath]
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
idna
importlib-metadata
importlib-resources
keras
keras-preprocessing
kiwisolver
libclang
lxml
markdown
matplotlib
networkx
numpy
oauthlib
openexr
opt-einsum
packaging
pandas
pillow
progressbar2
promise
protobuf==3.20.1
psutil
pyasn1
pyasn1-modules
pyparsing
python-dateutil
python-utils
pytest
pytz
pyyaml
requests
requests-oauthlib
rsa
scipy
setuptools
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-graphics
tensorflow-io-gcs-filesystem
tensorflow-metadata
termcolor
toml
tqdm
transformations
trimesh
typeguard
typing-extensions
urllib3
werkzeug
wheel
wrapt
zipp
